.spacing {
  padding-left: 50px;
}

.info {
  position: absolute;
  padding-top: 200px;
}
::ng-deep .green-snackbar {
  background: green !important;
  color: beige !important;
  margin-top: 25em !important ;
}
::ng-deep .red-snackbar {
  background: red !important;
  color: beige !important;
  margin-top: 25em !important ;
}
::ng-deep .mat-button-wrapper {
  color: black !important;
}
