<div class="main-content">
    <div class="container-fluid">
        <div class="main-content">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Ajouter DemandeConge</h4>
                        </div>
                        <div class="card-body">
                            <form>

                                <!--(ngSubmit)="submitForm()" novalidate <div *ngFor="let item of this.personnels; let i=index">
                                    <label>
                                        <input type="checkbox" [value]="item.id_personnel"
                                            [(ngModel)]="this.conge.personnel.personnel_id"
                                            (change)="onCheckboxChange($event)"
                                            [ngModelOptions]="{ standalone: true }" />
                                        {{ item.nom }} {{ item.prenom }}
                                    </label>
                                </div>-->


                                <mat-form-field class="spacing">
                                    <mat-label>Personnel</mat-label>
                                    <mat-select name="personnel" [(ngModel)]="this.conge.personnel.personnel_id"
                                        ngDefaultControl>
                                        <mat-option *ngFor="let item of this.personnels" [value]="item.id_personnel"
                                            ngDefaultControl>
                                            {{ item.nom }} {{ item.prenom }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <mat-form-field>
                                            <mat-label>Date de debut *</mat-label>
                                            <input matInput [matDatepicker]="picker" ngDefaultControl
                                                [(ngModel)]="this.conge.datedebut"
                                                [ngModelOptions]="{ standalone: true }">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>

                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <mat-form-field>
                                            <mat-label>Date fin *</mat-label>
                                            <input matInput [matDatepicker]="picker1" ngDefaultControl
                                                [(ngModel)]="this.conge.datefin"
                                                [ngModelOptions]="{ standalone: true }">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>

                                        </mat-form-field>
                                        <!-- nombre jour {{nombreJourConge}}-->
                                    </div>




                                </div>
                                <div class="col-md-4 mb-3">
                                    <mat-form-field class="spacing">
                                        <mat-label>TypeConge </mat-label>
                                        <mat-select name="TypeConge" [(ngModel)]="this.conge.typedeconge"
                                            ngDefaultControl required>
                                            <mat-option value="conge_repos">
                                                Conge_repos
                                            </mat-option>
                                            <mat-option value="conge_exceptionnel">
                                                Conge_exceptionnel
                                            </mat-option>
                                            <mat-option value="conge_autre">
                                                Autre
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                            </form>
                        </div>
                        <div class="add ml-auto mr-auto">
                            <button (click)="add()" class="btn btn-success btn-round">
                                Ajouter
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Liste Demande Conge</h4>
                        </div>

                        <ag-grid-angular style="width: 1300px; height: 500px;" class="ag-theme-material"
                            [rowData]="rowData" [columnDefs]="columnDefs" [modules]="modules"
                            (rowSelected)="getId($event)" (cellValueChanged)="edit($event)" [rowSelection]="'multiple'"
                            rowMultiSelectWithClick="true" [pagination]="true" [paginationAutoPageSize]="true">
                        </ag-grid-angular>
                        <div class="add ml-auto mr-auto">
                            <button class="btn btn-success btn-round" (click)=" AccepterConge()">
                                Accepter
                            </button>
                            <button class="btn btn-danger btn-round" (click)="RefuserConge()">
                                Refuser
                            </button>
                            <button class="btn btn-danger btn-round" (click)="delete()">
                                Supprimer
                            </button>
                            <button class="btn btn-danger btn-round" (click)="ajouterAnuulationConge()">
                                Anuller
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Liste Demande Annulation Conge</h4>
                        </div>

                        <ag-grid-angular style="width: 800px; height: 500px;" class="ag-theme-material"
                            [rowData]="rowData1" [columnDefs]="columnAnnulationConge" [modules]="modules"
                            (rowSelected)="getIdA($event)" (cellValueChanged)="edit($event)" [rowSelection]="'multiple'"
                            rowMultiSelectWithClick="true" [pagination]="true" [paginationAutoPageSize]="true">
                        </ag-grid-angular>
                        <div class="add ml-auto mr-auto">
                            <button class="btn btn-success btn-round" (click)=" AccepterAConge()">
                                Accepter
                            </button>
                            <button class="btn btn-danger btn-round" (click)="RefusererAConge()">
                                Refuser
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>