<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Liste des missions accomplies</h4>
          </div>

          <ag-grid-angular
            style="height: 500px;"
            class="ag-theme-material"
            [rowData]="rowDataP"
            [columnDefs]="columnDefsP"
            [modules]="modules"
            [pagination]="true"
            (cellClicked)="getId($event)"
            rowMultiSelectWithClick="false"
            [rowSelection]="'single'"
            [frameworkComponents]="frameworkComponents"
            [paginationAutoPageSize]="true"
            [gridOptions]="gridOptions"
          ></ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>
