<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Ajouter Demande Recuperation Solde Repos</h4>
            </div>
            <div class="card-body">
                <form>
                    <mat-form-field class="spacing">
                        <mat-label>Personnel</mat-label>
                        <mat-select name="personnel" [(ngModel)]="this.RSR.personnel.personnel_id" ngDefaultControl>
                            <mat-option *ngFor="let item of this.personnels" [value]="item.id_personnel"
                                ngDefaultControl>
                                {{ item.nom }} {{ item.prenom }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <div class="add ml-auto mr-auto">
                <button (click)="add()" class="btn btn-success btn-round">
                    Ajouter
                </button>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title ">Liste Demande Recuperation Solde Repose </h4>
            </div>

            <ag-grid-angular style="width: 1500px; height: 500px;" class="ag-theme-material" [rowData]="rowData"
                [columnDefs]="columnRSR" [modules]="modules" (rowSelected)="getIdA($event)"
                (cellValueChanged)="edit($event)" [rowSelection]="'multiple'" rowMultiSelectWithClick="true"
                [pagination]="true" [paginationAutoPageSize]="true">
            </ag-grid-angular>
            <div class="add ml-auto mr-auto">
                <button class="btn btn-success btn-round" (click)=" AccepterDemandeRSR()">
                    Accepter
                </button>
                <button class="btn btn-danger btn-round" (click)="RefusererDemandeRSR()">
                    Refuser
                </button>
            </div>
        </div>
    </div>
</div>