<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Ajouter un grade</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <input type="text" id="namegradefr" name="nomfr" class="form-control" required
                    [(ngModel)]="this.grade.nom_grade_fr" />

                  <label class="form-control-placeholder" for="namefr">
                    Nom du grade FR*
                  </label>
                  <div class="invalid-feedback">
                    Veuillez inserer le nom du grade en français.
                  </div>
                </div>

                <div class="col-md-6 mb-3">
                  <input type="text" id="namegradear" name="nomar" class="form-control" required
                    [(ngModel)]="this.grade.nom_grade_ar" />

                  <label class="form-control-placeholder" for="namear">
                    Nom du grade AR*
                  </label>
                  <div class="invalid-feedback">
                    Veuillez inserer le nom du grade en arabe.
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <input type="text" id="catfr" name="catfr" class="form-control" required
                    [(ngModel)]="this.grade.categorie_grade_fr" />

                  <label class="form-control-placeholder" for="catfr">
                    Catégorie du grade FR*
                  </label>
                  <div class="invalid-feedback">
                    Veuillez inserer la catégorie du grade en français.
                  </div>
                </div>

                <div class="col-md-6 mb-3">
                  <input type="text" id="catar" name="catar" class="form-control" required
                    [(ngModel)]="this.grade.categorie_grade_ar" />
                  <label class="form-control-placeholder" for="catar">
                    Catégorie du grade AR*
                  </label>
                  <div class="invalid-feedback">
                    Veuillez inserer la catégorie du grade en arabe.
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="add ml-auto mr-auto">
                  <button (click)="add()" class="btn btn-success btn-round">
                    Ajouter
                  </button>
                  <button class="btn btn-danger btn-round" (click)="cancel()">
                    Annuler
                  </button>
                </div>
              </div>
              <p>(*):champs obligatoire</p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Liste des grades</h4>
          </div>
          <ag-grid-angular style="width: 1020px; height: 400px;" class="ag-theme-material" [rowData]="rowData"
            [columnDefs]="columnDefs" [modules]="modules" (rowSelected)="getId($event)"
            (cellValueChanged)="edit($event)" [rowSelection]="'multiple'" rowMultiSelectWithClick="true"
            [pagination]="true" [paginationAutoPageSize]="true"></ag-grid-angular>
          <div class="add ml-auto mr-auto">
            <button class="btn btn-danger btn-round" (click)="delete()">
              Supprimer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>